:root {
  --color-font: #808291;
  --color-primary: #00187D;
  --color-secondary: #ffb09f;
  --color-link: #a7a9b8;
  --color-link-hover: #181b31;
  --color-gradient-start: #00BFF9;
  --color-gradient-stop: #5F33BE;
  --color-img-holder: #efefef;
}